/* Header Nav  */

@media (min-width: 767px) {
  ul#nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Contact  */
.contact .ac {
  display: flex;
  justify-content: space-between;
}
#emails {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1em;
}
#emails li h5 {
  color: #1b844e;
}
section.contact {
  background-color: #cfebed52;
}
@media (max-width: 767px) {
  .contact .ac,
  #emails {
    flex-direction: column;
  }
  #emails {
    margin-left: 50px;
    align-items: start;
    gap: 1em;
  }
}
.contact .contact-address {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact-address .contacte-address {
  text-align: justify;
}
.contact .contact-address h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333;
}
.contact .contact-address p {
  font-size: 14px;
  color: #1b844e;
  font-weight: 700;
  margin-bottom: 10px;
}
.contact .contact-address p span,
.contact .contact-address p a {
  font-size: 14px;
  color: #333333;
  font-weight: 600;
}
.contact .contact-form h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333;
}
.contact .ac .contact-form .input-field,
.contact .ac .contact-form .input-group {
  width: 100%;
  margin-bottom: 1em;
}
.contact .ac .contact-form .input-field input {
  padding-left: 15px;
  color: black;
}
.contact .ac .contact-form .input-group textarea {
  height: 150px;
  margin-bottom: 5px;
  resize: none;
  color: black;
}
.contact .ac .contact-form .input-group input {
  display: block;
  margin: 0 auto 10px;
  padding: 5px 10px;
  background-color: #8de6eb;
  color: #333333;
  font-weight: 600;
  border-color: inherit;
  border-radius: 10px;
}
.contact .ac .contact-form .input-group input:hover {
  background-color: #333333;
  color: #8de6eb;
}
.contact .ac ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
@media (max-width: 767px) {
  .contact .ac ul {
    flex-direction: row;
  }
}
.contact .ac ul li {
  margin-bottom: 25px;
}
.contact .ac ul li a i {
  font-size: 40px;
  transition: 0.3s;
}
.contact .ac ul li a i:hover {
  margin-left: 12px;
}
.contact .ac ul li a i.fa-youtube {
  color: #ff0000;
}
.contact .ac ul li a i.fa-facebook {
  color: #1877f2;
}
.contact .ac ul li a i.fa-instagram {
  color: #405de6;
}
section .mapg {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 30px;
  margin-right: 30px;
  gap: 20px;
  justify-content: center;
}
@media (max-width: 450px) {
  section .mapg {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-left: 10px;
    margin-right: 10px;
  }
}
section .mapg .branch {
  background-color: #33333317;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
}
section .mapg .hover-map {
  transition: 0.9s;
  padding: 10px 0;
}
section .mapg .hover-map iframe {
  width: 95%;
}
section .mapg .contact-address {
  margin-top: 20px;
}
section .mapg .contact-address p {
  margin-bottom: 5px;
}
section .mapg .contact-address p span {
  color: black;
  text-align: center;
  border-radius: 10px;
}
.foote {
  background-color: #f8f8f8;
  padding: 15px 0 0 0;
}
.foote .contanir {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  align-items: center;
}
@media (max-width: 450px) {
  .foote .contanir {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.foote .contanir .logo {
  text-align: center;
  margin-bottom: 8px;
}
.foote .contanir .logo .location {
  margin-top: 10px;
  font-size: 14px;
}
.foote .contanir img {
  width: 260px;
  margin-bottom: 20px;
}
.foote .contanir .contact-ft {
  text-align: justify;
  /* margin-top: 15px; */
}
.foote .contanir h3 {
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  width: 84%;
}
.contact-ft-ul {
  display: flex;
  justify-content: space-evenly;
}
.foote .contanir ul li {
  margin-bottom: 20px;
  font-size: 14px;
  text-align: justify;
  margin-left: 10px;
}
.foote .contanir ul li span {
  display: block;
}
@media (max-width: 947px) {
  .foote .contanir h3 {
    width: 100%;
    margin-top: 15px;
  }
  .foote .contanir ul li {
    text-align: center;
  }
  .contact-ft-ul {
    justify-content: center;
  }
}
@media (max-width: 400px) {
  .contact-ft-ul {
    flex-direction: column;
  }
}
.copy {
  margin-top: 20px;
  background-color: #f8f8f8;
}
.copy .copy-right {
  margin-bottom: 5px;
}
.copy .copy-right a {
  color: #1b844e;
  font-weight: bold;
}
.project-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.cardAq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#arrowSlideAq {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99999;
  transform: translate(-50%, -50%);
}
#arrowSlideAq li {
  background-color: #333333;
  padding: 10px 20px;
  cursor: pointer;
}
#arrowSlideAq li i {
  color: #f0f0f0;
  font-size: 2em;
}
